
[Unit]
Description=Stop current taskwarrior task on logout

[Service]
Type=oneshot
ExecStart=
ExecStop=/usr/bin/task +ACTIVE stop
RemainAfterExit=yes
TimeoutStopSec=1

[Install]
WantedBy=dbus.socket
